.App {
  text-align: center;
  background: linear-gradient(-45deg, #2a0902, #1d0a05, #f4775b, #270c06);
  /* animation: gradientBG 15s ease infinite; */
  background-size: 400% 400%;
}

/* keyframes for changing the body background color */
@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  1000% {
      background-position: 0% 50%;
  }

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title a {
  color: #f4775b;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 100%;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.cardForm {
  display: flex;
  margin: 2rem;
}

.input {
  width: 70%;
  height: 40px;
  color: white;
  background: none;
  border: none;
  border-bottom: 2px solid white;
}

.button {
  width: 40%;
  height: 45px;
  margin-left: 5px;
  background: #f56342;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.connect {
  margin-top: 20px;
  width: 120px;
  height: 45px;
  background: #f56342;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}